<h1>Library#showall</h1>
<div>
<% Book.all.each do |book| %>
  <div>
    Название: <%= book.name %> </br>
    Автор: <%=  book.author %> </br>
    Жанр: <%=  book.genre %> </br>
  <% end %> 
  </div>
  </br>
  </br>
</div>
