<div id="<%= dom_id subscription %>">
  <p>
    <strong>User:</strong>
    <%= subscription.user_id %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= subscription.publisher_id %>
  </p>

</div>
