@import "bootstrap";

.container
{
    padding: 10px;
}

.login {
    text-align: center;
}
.sitename
{
    vertical-align: middle;
    margin: 10px;
    text-align: center;
    color: rgb(24, 80, 185);
}

.booklist 
{
    padding-top: 5px;
    margin: auto;
    tr, td
    {
        text-align: center;
        padding: 10px;
    };

    th 
    {
        text-align: center;
    };
}

.exit_button
{
    padding: 5px;
}

.my-primary {
    background-color:rgb(24, 80, 185);
    color: white;
    .nav-link
    {
        color: white;
    }
    }
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
